
#coneccion a la base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nombre_de_tu_base_de_datos
DB_USER=nombre_de_usuario
DB_PASSWORD=contraseña_de_usuario

# JWT
JWT_SECRET_KEY=colocar-una-contraseña-secreta-para-JWT
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1